@media (min-width: 500px) {
  .headerOuter-wrap nav a {
    font-size: 15px;
    padding: 0 12px;
  }
}

@media (min-width: 600px) {

  #bars {
    display: none;
  }


  footer {
    text-align: unset;
  }
  footer > .wrap {
    display: flex;
    justify-content: space-between;
  }
  footer h1 {
    font-size: 12px;
  }
  footer p {
    font-size: 8px;
  }
  .f-sns {
    padding-right: 24px;
    font-size: 24px;
    align-self: center;
  }
}

@media (min-width: 1000px) {
  
  .headerOuter-wrap {
    height: 400px;
  }
  .headerOuter-wrap li a {
    padding: 0 48px;
    font-size: 24px;
  }
  .h-txt h1 {
    font-size: 32px;
  }



  footer {
    height: 150px;
  }
  footer > .wrap {
    padding-top: 24px;
  }
  footer h1 {
    font-size: 18px;
    font-weight: bold;
  }
  footer p {
    font-size: 12px;
  }
  .f-txt {
    padding-left: 24px;
  }

}

