* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#count {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	border-radius: 50%;
	background-color: white;
	position: fixed;
	top: 100px;
	z-index: 6;
	display: none;
}

.wrap {
	max-width: 1024px;
	margin: 0 auto;
}

.pc {
	display: none;
}

/* ヘッダーに関するデザイン */
header {
	background-color: rgba(0, 7, 111, 0.9);
	height: 64px;
	width: 100%;
	position: fixed;
	color: white;
	z-index: 5;
}

header img {
	height: 50px;
	line-height: 64px;
	padding: 7px;
}

#sidemenu {
	display: none;
	background-color: #374660;
	width: 60%;
	height: 100vh;
	position: fixed;
	top: 64px;
	right: 0;
}
#sidemenu li {
	list-style: none;
}
#sidemenu li + li {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#sidemenu a {
	padding-left: 20px;
	text-decoration: none;
	color: white;
	line-height: 48px;
	font-size: 24px;
}

#menubar {
	display: none;
	float: right;
}

#menubar ul {
	list-style: none;
	display: flex;
	padding-right: 12px;
}

#menubar a {
	color: white;
	text-decoration: none;
	line-height: 64px;
	font-size: 12px;
	padding: 25px 12px;
}
#menubar a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}


#bars {
	float: right;
	font-size: 32px;
	padding: 16px;
	cursor: pointer;
	display: none;
}

/* トップ画像に関するデザイン */
.headerOuter-wrap {
	background-image: url(./image/top-image.jpg);
	background-size: cover;
	background-position: 40% 30%;
	height: 250px;
	color: white;
	position: relative;
}
.headerOuter-wrap::before {
	background-color: rgba(0, 0, 0, 0.3);
	content: '';
  top: 0;
  right: 0;
	bottom: 0;
	left: 0;
  position: absolute;
}

.headerOuter-wrap h1 {
  font-size: 20px;
  position: absolute;
	padding: 120px 30px 20px 0;
  right: 0;
}

.headerOuter-wrap nav {
	background-color: rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	padding: 8px 0;
	bottom: 0;
}
.headerOuter-wrap ul {
	list-style: none;
	text-align: center;
	justify-content: center;
	display: flex;
}

.headerOuter-wrap li a {
	text-decoration: none;
	color: white;
	padding: 0 8px;
}
.headerOuter-wrap li a:hover {
	color: rgba(0, 7, 111, 0.5);
}

.headerOuter-wrap li + li {
	border-left: 1px solid white;
}

/* メインコンテンツのデザイン */
main {
  background-color: #e2e2e2;
  height: 1000px;
}

.form {
  width: 100%;
  margin: 100px auto;
}

/* フッターに関わるcss */
footer {
	text-align: center;
	height: 100px;
	background-color: #374660;
	opacity: 0.8;
	color: #fff;
}
footer h1 {
	font-size: 12px;
	font-weight: normal;
}
footer p {
	font-size: 8px;
}
.f-txt {
	font-size: 8px;
	padding: 20px 24px 10px;
}

.f-sns i {
	margin: 0 10px;
	color: #fff;
}