@media (min-width: 500px) {
  
  main {
    height: 9500px;
  }
  .headerOuter-wrap nav a {
    font-size: 15px;
    padding: 0 12px;
  }

}

@media (min-width: 600px) {
  body {
    font-size: 15px;
  }
  main {
    height: 7600px;
  }
  #bars {
    display: none;
  }

  main > .wrap {
    margin-left: 50px;
  }

  .member {
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
  }
  .profile {
    width: 200px;
    margin-top: 50px;
  }


  footer {
    text-align: unset;
  }
  footer > .wrap {
    display: flex;
    justify-content: space-between;
  }
  footer h1 {
    font-size: 12px;
  }
  footer p {
    font-size: 8px;
  }
  .f-sns {
    padding-right: 24px;
    font-size: 24px;
    align-self: center;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
  main {
    height: 7500px;
  }
  .headerOuter-wrap {
    height: 400px;
  }
  .headerOuter-wrap li a {
    padding: 0 48px;
    font-size: 20px;
  }
  .h-txt h1 {
    font-size: 32px;
  }


  .sidebanner {
    left: 80px;
    width: 100px;
    height: 276px;
    font-size: 18px;
    top: 500px;
  }





  footer {
    height: 150px;
  }
  footer > .wrap {
    padding-top: 24px;
  }
  footer h1 {
    font-size: 18px;
    font-weight: bold;
  }
  footer p {
    font-size: 12px;
  }
  .f-txt {
    padding-left: 24px;
  }

}

